.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.AppContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  min-width: 512px;
  width: 100%;
}
