.Battleground {
  height: 448px;
  padding-bottom: 0 !important; /* I hate myself for this but RPGUI overwrites this. */
  position: relative;
  width: 100%;

  &::after {
    background-image: url('./img/night-town.png');
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.Warriors {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.Warrior {
  width: 48%;

  &:last-child {
    text-align: right;
  }
}
