.Battleground {
  height: 448px;
  position: relative;
  width: 100%;

  &::after {
    background-image: url('./img/night-town.png');
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.HealthBars {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.HealthBar {
  width: 48%;
}
